.projects-header {
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 3rem;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 1rem;


}

.projects-container {
    display:flex;
    height: 100vh;
 //   padding-left: 150px;
    justify-content: space-between;



}