.hero {
  display: flex;
  height: calc(100vh - 120px);

  font-family: "Inter";

  .hero-container {
    display: flex;
    flex-direction: column;
    max-width: 150rem;
    min-height: 20rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

    .main-text {
      text-align: center;

      max-width: 50rem;

      .text {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin: 0;

        &.sub {
          font-size: 1.25rem;
          line-height: 1.75rem;
        }
      }
    }
  }
}
