.about-container {
  display: flex;
  height: 100vh;
  padding-left: 15vw;
  align-items: center;
  justify-content: space-between;

  .about-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;

    .about-header {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3rem;
      margin: 0;
      opacity: 0;
      padding-bottom: 3rem;
      font-family: "Inter";
    }

    .about-text-container {
      .about-text {
        padding: 0 0 2.5vw;
        line-height: 2rem;
        font-size: 1.25rem;
        opacity: 0;
        font-weight: 100;
        font-family: "Domine", serif;
        &.top {
          padding-top: 0rem;
        }
      }
    }
  }

  .main-logos-container {
    display: flex;

    width: 60vw;
    padding-left: 4vw;
    justify-content: center;

    .centering-logos-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .logos-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4vw;

        .logo {
          opacity: 0;
          border-radius: 1.5vw;
          margin: 2rem 0;
          height: auto;
          width: 5vw;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .about-container {
    padding-right: 15vw;
    padding-top: 10vw;
    align-items: normal;
  }

  .main-logos-container {
    display: none !important;
  }

  .about-left {
    width: 100% !important;
  }
}
