.about-header {
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 3rem;
  margin: 0;
  opacity: 0;
  padding-bottom: 1rem;

  /* text-decoration: underline;
        text-decoration-color: red;
        text-decoration-thickness: 3px;
        text-underline-offset: 10px; */
}

.about-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;

  .about-text-container {
    width: 40vw;

    .about-text {
      padding: 5rem 0 5rem;
      font-size: 1.5vw;
      opacity: 0;
      font-weight: 100;

      &.top {
        padding-top: 3rem;
      }
    }
  }

  .main-logos-container {
    display: flex;
    width: 60vw;
    padding-left: 50px;
    justify-content: center;
  //  height: 100vh;

    .centering-logos-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-logos-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 60px;
    }

    .right-logos-container {
      display: flex;
      flex-direction: column;
      padding: 60px;
    }

    .logo {
      opacity: 0;
      border-radius: 1.5vw;
      margin: 3rem 0;
      height: 5vw;
      width: 5vw;
    }
  }
}
